<nav class="navbar fixed-bottom navbar-light bg-light">
        <div class="container-fluid">
          <h6 class="navbar-text">&copy; Copyright 2021. All Rights reserved.<a href="/Assets/docs/References.pdf" class="d-inline" style="color:purple"> (References)</a></h6>
        </div>
      </nav>