<div class="container mt-5">
      <header><h1 class="display-1">About Me</h1></header>
      <div class="border shadow p-4">
            <h2 class="display-6">Full Name: Mohit Verma</h2>
            <img src="Assets/images/mohit.JPG" class="img-thumbnail" id="me" alt="...">
            <h2 class="display-6">Current status: Student</h2>
            <h2 class="display-6">Address: Toronto, Ontario </h2>
            <h2 class="display-6">Date of Birth: 2nd December, 1996 </h2>
      </div>
      <h1 class="display-4 mt-4">Brief Introduction</h1>
      <p class="fs-5">
           Hi, I am Mohit Verma. 
           I have completed my Bachelors of Technology in Computer Science and Engineering from Lovely Professional University in India,
           and currently studying Software Engineering Technology from 
            Centennial College, Toronto, Canada. In the next two years, 
            I see myself working for a Multinational corporation.
      </p>
      <h1 class="display-4 mt-4">Resume</h1>
      <a href="/Assets/docs/My CV.pdf" class="fs-4 text-decoration-underline">Mohit's CV.pdf</a>
</div>