<!-- Home Section -->
<div class="container mt-5">
      <h1 class="display-1">Android Developer <br>And Entrepreneur</h1>
      <h2 class="display-4">- Portfolio Website <i class="fab fa-lg fa-canadian-maple-leaf"></i></h2>
      <img src="/Assets/images/Flag_of_Canada.svg" class="w-25 rounded d-block mt-5">
      <hr class="mt-5">
      <a href="/about"><div class="display-4 text-center mt-5 border border-primary w-25 mx-auto p-2">About Me</div></a>
      <h2 class="display-4 text-center mt-5 text-decoration-underline">Mission Statement</h2>
      <blockquote class="blockquote mt-5 fs-3 text-center">
            <p>"To use my skills as a software engineer to solve real world problems!"</p>
      </blockquote>
</div>