<div class="container mt-5">
      <header><h1 class="display-2">Projects</h1></header>
      <section>
            <h2 class="display-6 mt-5">1) Direct School(Ecole Directe) App (Training and Internship)</h2>
            <img src="Assets/images/EcoleDirecte Logo.png" class="round w-75 d-block mt-3">
            <h3 class="display-6 mt-2">Description:</h3>
            <p class="fs-4">
                  Developed a hybrid mobile application using react native for management of various tasks in a school. The Application can mark student attendance, students can register for courses and can check their marks, teachers can even
                  send students their homework which can be immensely important during a lockdown. Made extensive use of SQL
                  for storing data with Php as authentication service. 
            </p>
            <h3 class="display-6 mt-2">Completion Date: 2018</h3>
            <h3 class="display-6 mt-2">Role: App designer</h3>
      </section>
      <hr class="mt-5">
      <section>
            <h2 class="display-6 mt-5">AlloFit Fitness App </h2>
            <img src="Assets/images/Allofit.jpg" class="round w-75 d-block mt-3 border border-3">
            <h3 class="display-6 mt-2">Description:</h3>
            <p class="fs-4">
                Developed an Android Application to measure steps taken, Bmi, and provides a selection for diet plan accordingly. 
                The Application uses Firebase Cloud server registration and user authentication.
                Implemented SQLite database for persistent data, and used Google Maps API for searching nearby medical facilities through the app. 
            
            </p>
            <h3 class="display-6 mt-2">Completion Date: 2019</h3>
            <h3 class="display-6 mt-2">Role: Android Developer</h3>
      </section>
      <hr class="mt-5">
      <section>
            <h2 class="display-6 mt-5">3) Gun Control Inc&trade; (Group Project)</h2>
            <img src="Assets/images/Gun Control.png" class="round w-75 d-block mt-3 border border-3">
            <h3 class="display-6 mt-2">Description:</h3>
            <p class="fs-4">
                Without doubt, the issue of firearms control is a global issue. The left wants to get rid of guns all together 
                without questions. The right wants the gun law to remain the same regardless of what has been in the past. 
                We believe in the 2nd Amendment of the constitution, but we also want everyone to be safe and to respect the law. 
                <br><br>The mobile/desktop application, Gun Control, solves this problem. We will coordinate every gun owner in the US to 
                make sure that they use their guns responsibly. Every month, the firearms owner has to submit a video/picture of 
                the serial number of their weapon and their ammunition consumptions. The Gun Control Inc. will work closely with 
                every form of government to counter the gun crisis in the world. Any gun owner who fails to provide a valid serial 
                number or is in suspicion of gun mishandling will be reported to the authority for the safety of the public.  
            </p>
            <h3 class="display-6 mt-2">Estimated Release Date: 2022</h3>
            <h3 class="display-6 mt-2">Role: Android Developer</h3>
      </section>
</div>