<div class="container mt-5">
      <header><h1 class="display-1">Services</h1></header>
      <ul class="display-6 mt-5">
            <li class="my-3">
                  Client-end Development<br> 
                  <i class="fab fa-js"></i>
                  <i class="fab fa-html5"></i>
                  <i class="fab fa-css3-alt"></i>
                  <i class="fab fa-react"></i>
                  <i class="fab fa-angular"></i>
            </li>
            <li class="my-3">
                  Server-end Development<br>
                  <i class="fab fa-java"></i>
                  <i class="fab fa-node"></i>
                  <i class="fas fa-database"></i>
            </li>
            <li class="my-3">
                  Mobile App Development (Available Soon!)<br>
                  <i class="fab fa-swift"></i>
                  <i class="fab fa-java"></i>
                  <i class="fab fa-react"></i>
                  <i class="fab fa-apple"></i>
                  <i class="fab fa-android"></i>
            </li>
            <li class="my-3">
                  Video Game Designer (Available Soon!)<br>
                  <i class="fab fa-unity"></i>
            </li>
      </ul>
</div>