<div class="container mt-5">
      <header><h1 class="display-1">Contact Me</h1></header>
      <!-- Email & Social Media Panel -->
      <div class="border w-50 p-2 mt-3 shadow">
            <a href="mailto:mverma35@my.centennialcollege.ca" class="display-6 my-2" style="color:black">
                  <i class="fas fa-envelope"></i> Email Me
            </a>
            <a href="https://www.linkedin.com/in/meet-mohit-verma/" class="display-6 my-2" style="color:black">
                  <i class="fab fa-linkedin"></i> LinkedIn
            </a>
            <a href="https://github.com/mr-mohit" class="display-6 my-2" style="color:black">
                  <i class="fab fa-github"></i> GitHub
            </a>
      </div>
      <!-- Message Validation Form -->
      <form class="row g-3 needs-validation mt-5" novalidate action="/home">
            <div class="col-md-3">
                  <label for="validationCustom01" class="form-label">First name</label>
                  <input type="text" class="form-control" id="validationCustom01" value="John" name="fName" required>
                  <div class="valid-feedback">
                        Looks good!
                  </div>
            </div>
            <div class="col-md-3">
                  <label for="validationCustom02" class="form-label">Last name</label>
                  <input type="text" class="form-control" id="validationCustom02" value="Doe" name="lName" required>
                  <div class="valid-feedback">
                        Looks good!
                  </div>
            </div>
            <div class="col-md-3">
                  <label for="validationCustom03" class="form-label">Phone Number</label>
                  <input type="text" class="form-control" id="validationCustom03" name="pNumber" required>
                  <div class="invalid-feedback">
                        Please provide a valid phone number.
                  </div>
            </div>
            <div class="col-md-3">
                  <label for="validationCustom04" class="form-label">Email</label>
                  <input type="email" class="form-control" id="validationCustom04" name="email" required>
                  <div class="invalid-feedback">
                        Please provide a valid email.
                  </div>
            </div>
            <div class="col-md-6">
                  <label for="validationCustom05" class="form-label">Message</label>
                  <input type="textbox" class="form-control" id="validationCustom05" name="message" required>
                  <div class="invalid-feedback">
                        Please insert a message.
                  </div>
            </div>
            <div class="col-12">
                  <button class="btn btn-primary" type="submit">Submit form</button>
            </div>
            <script>
            </script>
      </form>
</div>